/* .homeContainer {
  height: auto;  
} */
#grad {
  /* background-image: linear-gradient(to right,White,grey,rgb(96, 96, 96),grey,white); */
  /* background-color: ; */
}

.sliderLanding {
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.slider-container {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.img-carousel {
  max-width: 100%;
  max-height: 80vh;
  margin: 0 auto;
  display: block;
}

  @media (min-width: 768px) {
    .sliderLanding {
      flex-direction: row;
      text-align: left;
    }
  
    .img-carousel {
      max-width: 50%;
      margin-right: 10px;
    }
  
    .mt-5 {
      margin-top: 0;
      margin-left: 20px;
      text-align: left;
    }
  }

  .carousel-caption p,h3 {
    color: #ffffff; 
  }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.616);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    backdrop-filter: blur(5px);
    color: black;
  }
  
